@model AvaliacaoLP3Bi3.ViewModels.LojaViewModel;

@{
    ViewData["Title"] = "Lista Lojas/Quiosques";
}

<h1>@Model.Nome</h1>

<hr>

<p>Id: @Model.Id</p>
<p>Piso: @Model.Piso</p>
<p>Nome: @Model.Nome</p>
<p>Descrição: @Model.Descricao</p>
<p>Tipo do Estabelecimento: @Model.Tipo</p>
<p>Email: @Model.Email</p>
